<header class="header w-full h-[10vh] px-5 flex items-center justify-between">
  <div class="text-2xl text-white">Your Logo</div>
  <div class="flex">
<!-- From Uiverse.io by Yaya12085 --> 
<div class="radio-inputs">
  <label class="radio">
    <input type="radio" name="radio" checked="">
    <span class="name">Home</span>
  </label>
  <label class="radio">
    <input type="radio" name="radio">
    <span class="name">Recharge</span>
  </label>
      
  <label class="radio">
    <input type="radio" name="radio">
    <span class="name">Profile</span>
  </label>
  <label class="radio">
    <input type="radio" name="radio">
    <span class="name">Logout</span>
  </label>
</div>
  </div>
</header>
<router-outlet></router-outlet>
<!-- <nav class="navbar">
        
        <div class="nav-right">
          <button>View Profile</button>
          <button>Update Profile</button>
          <div class="profile-section">
            <img
              class="profile-pic"
              src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
              alt="Profile"
            />
            <span class="user-name">SHERVIN</span>
          </div>
        </div>
      </nav> -->